spring:
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.kafka.KafkaAutoConfiguration
  datasource:
    url: jdbc:mysql://localhost:3307/newshub?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8&allowPublicKeyRetrieval=true
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
      encoding: UTF-8
  servlet:
    encoding:
      charset: UTF-8
      force: true
      enabled: true
  data:
    redis:
      host: localhost
      port: 6379
      database: 0

app:
  jwt:
    secret: 5367566B59703373367639792F423F4528482B4D6251655468576D5A71347437
    expiration: 86400000
  crawler:
    enabled: true
    interval: 14400000
    python-command: python
    script-path: D:/blog/crawler-python


logging:
  level:
    root: INFO
    com.newshub.backend: DEBUG
